rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Fungsi untuk mengecek apakah user yang login adalah pemilik (Admin/Owner)
    function isOwner() {
      return request.auth != null && 
             (request.auth.token.email == 'irfanrizkiaditri@gmail.com' || 
              request.auth.token.email == 'irfanrizkiaditri02@gmail.com');
    }
    
    // Aturan untuk seluruh dokumen di dalam koleksi 'fanra' (Termasuk irfan_family_data)
    match /fanra/{document=**} {
      // READ: Siapapun (tanpa perlu login) bisa melihat data secara realtime
      allow read: if true;
      
      // WRITE: HANYA Owner/Admin (Irfan) yang diizinkan untuk membuat, mengedit, atau menghapus data
      allow write: if isOwner();
    }
  }
}

